<html ng-app="apiApp">
	<body ng-controller="ctrl">
        
        <input type="text" ng-model="name">				
        <button ng-click="getPokemon()">Get Pokemon</button>
        <br/>
        {{pokemon.name}}<br/>
        Weight:{{pokemon.weight}}<br/>
        Height: {{pokemon.height}}
       
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>